pytest
flake8
coverage
codecov
networkx
graphviz
python-graphviz
dask
distributed
pandas
bokeh
ipython
ipykernel
ipywidgets
python-confluent-kafka
pytest-tornado
doctr
sphinx
sphinx_rtd_theme
numpydoc
